@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

:root {
  --blue: #37b2c5;
  --orange: #ff542c;
  --white: #ffffff;
  --black: #000;
}

/* -------------------------------------------
header starts
------------------------------------------- */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
}

header.active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.logo img {
  width: 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: .5rem;
  margin-bottom: 0;
}

.nav-items ul li a {
  text-decoration: none;
  color: var(--blue);
  font-size: 20px;
  font-weight: 500;
}
.nav-items .nav-link:hover {
  color: var(--orange) !important;
}
.nav-items .nav-link:focus {
  color: var(--blue);
}


.menu-icon {
  display: none;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  padding: .1rem;
}

.menu-icon span {
  width: 100%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--black);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
  transform-origin: center;
  width: 33px;
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
  width: 33px;
  transform-origin: center;
}

@media (max-width:767px) {
  .menu-icon {
    display: flex;
  }

  .nav-items {
    position: fixed;
    transform: translateX(500px);
    bottom: 0;
    top: 0;
    right: 0;
    left: 30%;
    background-color: var(--white);
    transition: all ease 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.147);
    flex-direction: column;
    align-items: start;
    padding: 1rem;
  }
  .nav-link {
    text-align: center;
  }

  .nav-items ul {
    flex-direction: column;
    gap: 1rem;
    margin-top: 20%;
  }

  .nav-items.active {
    transform: translateX(0px);
  }

  .nav-black-bg {
    display: none;
    transition: all 0.3 ease;
    opacity: 0;
  }

  .nav-black-bg.active {
    display: block !important;
    opacity: 1;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000bb;
  }

}

/* scroll spy */
.nav-items .nav-link {
  position: relative;
  transition: all 0.3s ease;
}
.nav-items .nav-link.nav-link.active {
 color: var(--orange);
}

.nav-items .nav-link::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--orange);
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.nav-items .nav-link.active::after {
  width: 60%;
}


/* -------------------------------------------
header ends
------------------------------------------- */


/* -------------------------------------------
section starts
------------------------------------------- */
/* all sections srarts*/
.section{
  min-height: calc(100vh - 170px);
  margin-bottom: 100px;
}


/* all sections ends */
/* hero bg starts */
.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url(./images/Hero-BG-PA.avif);
  background-size: 100% 100%;
  z-index: -1;
}

/* hero bg ends */

@media (max-width:767px)  {
  .section1 .hero-div {
   gap: 3rem;
  }
  .hero-bg-img {
    display: none;
  }
}
/* Hero section */


/* about starts */


.about {
  padding: 60px 0;
}

.about .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about h2 {
  color: #333;
  margin-bottom: 20px;
}

.about p {
  color: #666;
  margin-bottom: 20px;
}

.about .btn {
  background-color: var(--orange);
  color: #fff;
  border: none;
}

.about .btn:hover {
  background-color: var(--orange);
  color: #fff;
  box-shadow: 0 0 15 #ff532c5c;
}
/* about sends */


/* service starts */

/* Feature Box
---------------------*/
.service-box {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

.service-box .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--orange);
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.service-box .icon i {
  line-height: 70px;
}
.service-box h5 {
  color: var(--black);
  font-weight: 600;
}
.service-box p {
  margin: 0;
}
.service-box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 0px;
  width: 0px;
  left: auto;
  right: 0;
  border-radius: 0 100rem 100rem 100rem;
  width: 0;
  background: var(--blue);
  z-index: -1;
}
.service-box:hover {
  top: -5px;
}
.service-box:hover h5 {
  color: #ffffff;
}
.service-box:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.service-box:hover:after {
  width: 100%;
  height: 100%;
  border-radius:  10px 10px 10px 10px;
  left: 0;
  right: auto;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.section3 .section {
    position: relative;
}
.service-title {
    padding-bottom: 45px;
}
.service-title h2 {
    font-weight: 700;
    color: var(--blue);
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid var(--orange);
    padding-left: 15px;
}

/* service ends */


/* portfolio starts */


.filter-btn.active {
  background-color: #007bff; /* Primary color background */
  color: #fff; /* White text color */
}
/* portfolio ends */
/* -------------------------------------------
section ends
------------------------------------------- */








/* -------------------------------------------
buttons end
------------------------------------------- */

.button1 {
  padding: .3rem .7rem;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--orange);
  overflow: hidden;
  border-radius: 30px;
  color: var(--orange);
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button1:hover {
  box-shadow: 1px 1px 10px var(--blue);
  color: #fff;
  border: 2px solid transparent;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* back to top */
.back-to-top {
  display: none;
  background-color: var(--blue);
  border: none;
  padding: .3rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: #fff;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
 }
 .back-to-top.active {
  display: block;
 }
 .back-to-top span {
  font-size: 44px;
 }
 
 .back-to-top:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .back-to-top:hover:not(:disabled) {
  background: var(--orange);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 .back-to-top:disabled {
  cursor: auto;
  color: grey;
 }

/* -------------------------------------------
buttons ends
------------------------------------------- */
/* -------------------------------------------
animation starts
------------------------------------------- */



/* -------------------------------------------
animation ends
------------------------------------------- */
/* -------------------------------------------
loader starts
------------------------------------------- */

/* Initial scale */
/* Loader styles */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* -------------------------------------------
loader starts
------------------------------------------- */

/* -------------------------------------------
animation starts
------------------------------------------- */
 @media (prefers-reduced-motion: no-preference) {
  .about img {
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view() ;
    animation-range: entry;
  }
  @keyframes fade-in {
     to { scale: 1; opacity: 1;}
  }
} 

/* -------------------------------------------
animation ends
------------------------------------------- */