@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

:root {
  --blue: #37b2c5;
  --orange: #ff542c;
  --white: #ffffff;
  --black: #000;
}

/* hero bachgroung */
/* .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  background-image: url(./images/hero-bg-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: .9;
} */
/* hero bachgroung */

/* -------------------------------------------
header starts
------------------------------------------- */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
}

header.active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.logo img {
  width: 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: .5rem;
  margin-bottom: 0;
}

.nav-items ul li a {
  text-decoration: none;
  color: var(--blue);
  font-size: 20px;
  font-weight: 500;
}
.nav-items .nav-link:hover {
  color: var(--orange) !important;
}
.nav-items .nav-link:focus {
  color: var(--blue);
}


.menu-icon {
  display: none;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  padding: .1rem;
}

.menu-icon span {
  width: 100%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--black);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
  transform-origin: center;
  width: 33px;
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
  width: 33px;
  transform-origin: center;
}

@media (max-width:767px) {
  .menu-icon {
    display: flex;
  }

  .nav-items {
    position: fixed;
    transform: translateX(100%);
    bottom: 0;
    top: 0;
    right: 0;
    left: 30%;
    background-color: var(--white);
    transition: all ease 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.147);
    flex-direction: column;
    align-items: start;
    padding: 1rem;
  }
  .nav-link {
    text-align: center;
  }

  .nav-items ul {
    flex-direction: column;
    gap: 1rem;
    margin-top: 20%;
  }

  .nav-items.active {
    transform: translateX(0px);
  }

  .nav-black-bg {
    display: none;
    transition: all 0.3 ease;
    opacity: 0;
  }

  .nav-black-bg.active {
    display: block !important;
    opacity: 1;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000bb;
  }

}

/* scroll spy */
.nav-items .nav-link {
  position: relative;
  transition: all 0.3s ease;
}
.nav-items .nav-link.nav-link.active {
 color: var(--orange);
}

.nav-items .nav-link::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--orange);
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.nav-items .nav-link.active::after {
  width: 60%;
}


/* -------------------------------------------
header ends
------------------------------------------- */


/* -------------------------------------------
section starts
------------------------------------------- */
/* all sections srarts*/
.section1{
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}
.section {
  overflow: hidden;
}




/* all sections ends */
/* hero bg starts */
.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url(./images/Hero-BG-PA.avif);
  background-size: 100% 100%;
  z-index: -1;
}

/* hero bg ends */

@media (max-width:767px)  {
  .section1 .hero-div {
   gap: 3rem;
  }
  .hero-bg-img {
    display: none;
  }
}
/* Hero section */


/* about starts */


.about {
 margin: 60px 0;
}

.about .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about h2 {
  color: #333;
  margin-bottom: 20px;
}

.about p {
  color: #666;
  margin-bottom: 20px;
}

.about .btn {
  background-color: var(--orange);
  color: #fff;
  border: none;
}

.about .btn:hover {
  background-color: var(--orange);
  color: #fff;
  box-shadow: 0 0 15 #ff532c5c;
}
/* about sends */


/* service starts */

/* Feature Box
---------------------*/
.service-box {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
  height: 100%;
}
.feature-content p {
  scale: 1;
  opacity: 1;
}

.service-box .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--orange);
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.service-box .icon i {
  line-height: 70px;
}
.service-box h5 {
  color: var(--black);
  font-weight: 600;
}
.service-box p {
  margin: 0;
}
.service-box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 0px;
  width: 0px;
  left: auto;
  right: 0;
  border-radius: 0 100rem 100rem 100rem;
  width: 0;
  background: var(--blue);
  z-index: -1;
}
.service-box:hover {
  top: -5px;
}
.service-box:hover h5 {
  color: #ffffff;
}
.service-box:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.service-box:hover:after {
  width: 100%;
  height: 100%;
  border-radius:  10px 10px 10px 10px;
  left: 0;
  right: auto;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.section3 .section {
    position: relative;
}
.service-title {
    padding-bottom: 45px;
}
.service-title h2 {
    font-weight: 700;
    color: var(--blue);
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid var(--orange);
    padding-left: 15px;
}
.services-section  .row:last-child  > div {
  margin-bottom: 1rem;
}
/* service ends */

/* portfolio starts */

.Portfolio-title h2{
  font-weight: 700;
  color: var(--blue);
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid var(--orange);
  padding-left: 15px;
}

.portfolio-img-box {
  width: 100%;
  aspect-ratio: 16/13;
  overflow: hidden;
}

.portfolio-img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}
.portfolio-img:hover {
   scale: 1.1;
}
.custom-modal-body .portfolio-img-box {
  flex-grow: 1;
}

#modalContent >  div {
  display: flex;
  flex-direction: column;
}


.custom-modal-body .portfolio-img:hover {
   scale: 1 !important;
}
.card-body {
  padding: .5rem 0;
}
.custom-modal-body .card-body {
  position: absolute;
    z-index: 111;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white !important;
}
.custom-modal-body {
  padding: 0;
  overflow: hidden;
}
.custom-modal-content {
  border: none;
  box-shadow: none;
}
.modal-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.modal-navigation button {
  background-color: var(--orange);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: .5rem;
  border-radius: 50%;
  width: 55px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-navigation button:focus , .modal-navigation button:hover{
  background-color: var(--blue);
}
/* portfolio ends */

/* review slider starts */


.slick-slide {
  text-align: center;  /* Center content */
}

.slick-dots {
  bottom: 10px;   /* Position dots at the bottom */
}
/* Add gap between slides */
.testimonials .slick-slide {
  padding: 0 10px;  /* Adjust the value as needed */
}

/* Adjust container to prevent horizontal overflow */
.testimonials .slick-list {
  margin: 0 -10px;  /* Negative value to counteract the padding */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.item {
  margin: 1rem 1rem; /* Add margin to the left and right of each item */
}

.slick-list {
  padding: 0 1rem; /* Add padding to the left and right of the entire slider to create space around the items */
}
.testimonials{position: relative; margin: 1rem; background-repeat: no-repeat;background-size: cover;padding:50px 0;font-family:'Poppins', sans-serif}
.testimonials .title img {margin-top: -10px;}
.testimonials .title p {margin: 0 0 10px;margin-bottom: 0;color: #5A3733;}
.testimonials .item {background: #fff;padding: 50px 30px;border-radius:15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); height: 100% !important;}
.testimonials .item .profile {display:flex;padding-left: 15px;}
.testimonials .item .profile img {border-radius: 100%;width:50px;height:50px;object-fit:cover}
.testimonials .item .profile .information {padding-left:20px;margin-bottom:15px}
.testimonials .item .profile .information .stars {padding-left: 0; margin-left: 0; margin-bottom: .5rem; display: flex;}
.testimonials .item .profile .information .stars i {color:#ffd832;}
.testimonials .item .profile .information p {font-size: 24px;margin: 0px auto 0px;color: var(--blue);font-weight: 900;line-height: 1; display: block;}
.testimonials .item .profile .information span {color: #EB6D2F;font-weight: bold;margin-top: -4px;line-height: 1.6em;font-size: 14px;}
.testimonials .item>p {margin-bottom: 15px;font-size: 16px;line-height: 1.6em;display: block;z-index: 2;font-style: italic;color: #5A3733;text-align: start;}
.testimonials .item .icon {text-align: center;}
.testimonials .item .icon i {font-size: 32px;color: #FFD832;}
/* review slider ends */



/* about me starts */
.about-me .btn-primary.btn-outline {
  background: transparent;
  color: #4d4d4d;
  border: 1px solid #d9d9d9;
}
.about-me p, span {
  margin-bottom: 1.5em;
  font-weight: 400;
  font-family: "Karla", Arial, sans-serif;
}
.about-me .about-desc .rotate {
  position: absolute;
  top: 7px;
  left: 30px;
}
.about-me .about-desc .rotate .heading {
  font-family: "Karla", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  transform-origin: left top 0;
  position: relative;
}
.about-desc .rotate .heading:after {
  position: absolute;
  top: 8px;
  right: -40px;
  content: '';
  background: #000;
  width: 40px;
  height: 1px;
}
/* about me ends */

/* founder starts */

.founder .row > div:first-child div{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.founder .row > div:last-child{
 display: flex;
 flex-direction: column;
 justify-content: end;
}
.founder .about-fnd{
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
/* founder ends */

/* contact section starts */
.contact {
  padding: 30px 0;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--blue);

}

.contact .heading h2 span {
  color: var(--orange);
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}
.contact textarea {
  min-height: 200px;
  height: auto;
  max-height: 500px;
}

.contact button.btn {
  background: var(--orange);
  color: #ffffff;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 a {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  text-decoration: none;
}
/* contact section ends */


/* footer starts */
footer {
  border-top: 1px solid #efefef;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0;
}
footer  .nav-links li a {
  font-size: 14px;
  color: #777;
  padding: 10px;
  text-decoration: none;
}
footer .list-unstyled {
  padding-left: 0;
  list-style: none;
}
footer .social-icons {
 margin-bottom: 0;
 display: flex;
 gap: .5rem;
 flex-wrap: wrap;

}
.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: var(--blue); /* or any color you prefer */
  font-size: 30px; /* adjust the size as needed */
  transition: color 0.3s;
}
.social-icons a.wa { scale: 1; color: #25D366; }
.social-icons a.fb { scale: 1; color: #1877F2; }
.social-icons a.tw { scale: 1; color: #1DA1F2; }
.social-icons a.in { scale: 1; color: #E4405F; } /* Single color for Instagram */
.social-icons a.yt { scale: 1; color: #FF0000; }
.social-icons a.wa:focus { scale: 1.1; color: #25D366; }
.social-icons a.fb:focus { scale: 1.1; color: #1877F2; }
.social-icons a.tw:focus { scale: 1.1; color: #1DA1F2; }
.social-icons a.in:focus { scale: 1.1; color: #E4405F; } /* Single color for Instagram */
.social-icons a.yt:focus { scale: 1.1; color: #FF0000; }
.social-icons a.wa:hover { scale: 1.1; color: #25D366; }
.social-icons a.fb:hover { scale: 1.1; color: #1877F2; }
.social-icons a.tw:hover { scale: 1.1; color: #1DA1F2; }
.social-icons a.in:hover { scale: 1.1; color: #E4405F; } /* Single color for Instagram */
.social-icons a.yt:hover { scale: 1.1; color: #FF0000; }

.social-icons a:hover {
  color: #007bff; /* or any color you prefer for hover effect */
}

footer .nav-links li {
  display: inline-block;
}
footer .copyright {
  border-top: 1px solid #efefef;
  padding-top: 50px;
  text-align: center;
  color: #777;
}
/* footer ends */
/* -------------------------------------------
section ends
------------------------------------------- */








/* -------------------------------------------
buttons end
------------------------------------------- */

.button1 {
  padding: .3rem .7rem;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--orange);
  overflow: hidden;
  border-radius: 30px;
  color: var(--orange);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button1:hover {
  box-shadow: 1px 1px 10px var(--blue);
  color: #fff;
  border: 2px solid transparent;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* back to top */
.back-to-top {
  display: none;
  background-color: var(--blue);
  border: none;
  padding: .3rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: #fff;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
 }
 .back-to-top.active {
  display: block;
 }
 .back-to-top span {
  font-size: 44px;
 }
 
 .back-to-top:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .back-to-top:hover:not(:disabled) {
  background: var(--orange);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 .back-to-top:disabled {
  cursor: auto;
  color: grey;
 }
 .filter-btn{
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--blue);
  padding: 10px;
  text-decoration: none;
  position: relative;
  padding: .5rem 0;
  transition: all 0.3s ease;
  width: fit-content;
 }

 .filter-btn::after {
  position: absolute;
   content: "";
   height: 2px;
   left: 0;
   right: 0;
   width: 0%;
   margin: auto;
   bottom: 0;
   background-color: var(--orange);
   transition: all 0.3s ease;
 }
 .filter-btn.active::after {
  width: 80%;
 }

/* -------------------------------------------
buttons ends
------------------------------------------- */
/* -------------------------------------------
animation starts
------------------------------------------- */



/* -------------------------------------------
animation ends
------------------------------------------- */
/* -------------------------------------------
loader starts
------------------------------------------- */

/* Initial scale */
/* Loader styles */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* -------------------------------------------
loader starts
------------------------------------------- */

/* -------------------------------------------
fonts start
------------------------------------------- */

.font-1 {
  font-size: 60px;
  font-weight: 600;
}
@media (max-width:767px) {
  .font-1 {
      font-size: 30px;
  }
}
.font-2 {
  font-size: 22px;
}


/* -------------------------------------------
fonts ends
------------------------------------------- */